Source: ros-groovy-message-generation
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin
Homepage: http://ros.org/wiki/message_generation
Standards-Version: 3.9.2

Package: ros-groovy-message-generation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-gencpp, ros-groovy-genlisp, ros-groovy-genmsg, ros-groovy-genpy
Description: Package modeling the build-time dependencies for generating language bindings of messages.
